* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main {
  width: 77%;
  height: 100%;
  margin: 10rem auto 0 auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 4;
}

.nav-bar {
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 11.5%;
  z-index: 4;
  transition: all 0.6s ease-in;
}

.scroll-Down .nav-bar {
  transform: translate3d(0, -100%, 0);
}
.scroll-Up .nav-bar {
  transform: none;
}
.nav-bar-offset {
  background-color: white;
  border: none;
  border-bottom: transparent;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
}
.nav-logo img {
  object-fit: cover;
  height: 100%;
}
.nav-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-component .nav-item {
  list-style: none;
  margin: 1rem;
  display: none;
}
.nav-component .nav-item .nav-link:hover {
  color: hsl(227, 12%, 61%);
}
.nav-component .nav-item .nav-link {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(228, 39%, 23%);
  text-decoration: none;
}
.nav-button button {
  font-size: 0.8rem;
  width: 7.813rem;
  height: 2.5rem;
  display: none;
}
.hamburger-menu {
  cursor: pointer;
  position: relative;
}
button {
  display: block;
  border: none;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 700;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  width: 6.6rem;
  height: 2.2rem;
  box-shadow: 0px 4px 10px 0px hsla(12, 88%, 59%, 0.44);
  cursor: pointer;
}
button:active {
  color: rgb(255, 255, 255);
  background-color: hsla(12, 100%, 82%, 0.891);
}

#modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.385);
  z-index: 4;
  display: none;
}
.modal {
  position: fixed;
  width: 80%;
  max-width: 25rem;
  margin: 7rem auto;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 0.4rem;
}
.modal-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}
.modal-item {
  list-style: none;
  margin: 1rem 0;
}
.modal-link {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: bold;
}
.modal-link:hover {
  color: hsl(227, 12%, 61%);
}

.landing-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing-page article {
  width: 50%;
}
.landing-illustrator {
  position: relative;
  overflow: visible;
  z-index: 2;
}
.landing-illustrator img {
  position: relative;
  z-index: 2;
}
.landing-illustrator::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -100%;
  left: 0;
  background-image: url(./images/bg-tablet-pattern.svg);
  z-index: 1;
  background-position: left;
  background-size: 85%;
  background-repeat: no-repeat;
  overflow: visible;
}
.landing-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-text-div .article-header-one {
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  color: hsl(228, 39%, 23%);
}
.landing-text-div .article-paragraph {
  font-weight: 500;
  width: 60%;
  line-height: 1.5rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
  width: 80%;
  color: hsl(227, 12%, 61%);
}
.landing-illustrator img {
  width: 100%;
}

.aligned-left {
  width: 100%;
}
.aligned-justify {
  text-align: justify;
}
.article-header-three {
  font-size: 1rem;
  padding: 0.4rem 0rem;
  color: hsl(228, 39%, 23%);
  border: none;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: left;
}
.grid-box {
  margin-top: 3.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5% 0;
}

.article-header-two {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
  color: hsl(228, 39%, 23%);
  margin-bottom: 1rem;
}
.grid-one {
  position: relative;
  height: 100%;
}
.grid-one::before {
  content: " ";
  width: 200%;
  height: 240%;
  top: 0;
  right: 0;
  position: absolute;
  background-image: url(./images/bg-tablet-pattern.svg);
  z-index: -1;
  background-position: left center;
  background-size: 85%;
  background-repeat: no-repeat;
  overflow: visible;
}
.grid-one .article-div .article-paragraph {
  font-weight: 500;
  width: 100%;
  line-height: 1.5rem;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}
.grid-two .article-div {
  margin-bottom: 1.5rem;
}
.grid-two .article-div .article-paragraph {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  line-height: 1.5rem;
  color: hsl(227, 12%, 61%);
  padding: 0.6rem 0;
}
.article-count {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: -4rem;
  margin-right: 0;
}
.article-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(227, 12%, 61%);
  text-align: left;
  padding: 0.8rem 0;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 4.5rem 0;
  position: relative;
}
.carousel-slide button {
  margin: 1rem auto;
}
.carousel-slide .pagination-bar {
  width: 3.5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  display: none;
}
.carousel-slide .pagination-item {
  width: 0.6rem;
  height: 0.6rem;
  border: 1.9px solid orangered;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}
.carousel-slide h3 {
  padding: 1rem;
}
.carousel-div {
  display: flex;
  gap: 4rem;
  overflow: auto;
  width: 100%;
  padding-top: 2rem;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgba(242, 95, 58, 0.07) transparent;
}
.carousel-div::-webkit-scrollbar {
  width: 0.8rem;
}

.carousel-div::-webkit-scrollbar-track {
  background-color: transparent;
}

.carousel-div::-webkit-scrollbar-thumb {
  background-color: rgba(242, 95, 58, 0.07);
  border-radius: 55px;
  box-shadow: 0px 0px 1.5px 1px rgba(242, 95, 58, 0.22);
}
.carousel-slide .next {
  position: absolute;
  right: 0;
  z-index: 2;
  top: calc(50% - 3rem);
  margin-right: 2rem;
  font-size: 3rem;
  color: rgba(255, 68, 0, 0.35);
  cursor: pointer;
  display: none;
}
.carousel-slide .prev {
  position: absolute;
  left: 0;
  z-index: 2;
  top: calc(50% - 3rem);
  margin-left: 2rem;
  font-size: 3rem;
  color: rgba(255, 68, 0, 0.35);
  cursor: pointer;
  display: none;
}

.carousel-slide:hover .prev,
.carousel-slide:hover .next {
  display: block;
}
.carousel-item {
  padding: 2.5rem 1rem 1rem 1rem;
  background-color: hsl(0, 0%, 98%);
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  min-width: 27rem;
  width: 80%;
  filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.1));
}
.carousel-item .article-paragraph {
  text-align: center;
  width: 100%;
}
.carousel-item .article-header-three {
  background-color: transparent;
  text-align: center;
}
.carousel-item .profile-photo {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: -2rem;
  z-index: 2;
  right: calc(50% - 2rem);
}
.carousel-item .profile-photo img {
  object-fit: cover;
  width: 100%;
}

.footer {
  margin-top: 10rem;
}

.footer-one {
  padding: 0 11.5%;
  display: flex;
  height: 12.82rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(12, 88%, 59%);
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-position: center;
  background-size: cover;
}
.footer-one button {
  background-color: white;
  color: hsla(12, 88%, 59%);
}
.footer button:active {
  color: rgba(242, 95, 58, 0.248);
}
.footer-one p {
  font-size: clamp(2rem, 3.5vw, 2.5rem);
  color: white;
  max-width: 27rem;
  width: 100%;
}

.footer-two {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 3rem 11.5%;
  background-color: hsl(233, 12%, 13%);
  color: hsl(0, 0%, 98%);
  position: relative;
}

.footer-two .social-links {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  max-width: 25rem;
  height: 6rem;
  margin: 1rem auto;
}
.footer-two .social-links div {
  display: flex;
  justify-content: space-between;
}
.footer-two .social-links div a {
  color: white;
  font-size: 2.2rem;
}
.footer-two .social-links div a:hover {
  color: hsla(12, 88%, 59%);
}

.footer-two .footer-logo {
  align-self: center;
}
.footer-two .navigation {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 25rem;
}
.footer-two .navigation ul li {
  list-style: none;
  margin-bottom: 0.7rem;
}
.footer-two .navigation ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
}
.footer-two .navigation ul li a:hover {
  text-decoration: none;
  color: hsl(12, 88%, 59%);
}

.footer-two .news-letter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 25rem;
  width: 100%;
}

.footer-two .news-letter form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-two .news-letter form input {
  display: inline-block;
  border-radius: 2rem;
  padding: 0.7rem;
  border: none;
  width: 75%;
}
.footer-two .news-letter form button {
  display: inline-block;
  width: 4rem;
}

.footer-two .news-letter p {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  right: 0;
  text-align: center;
  font-size: 0.8rem;
}
.footer-two .news-letter p a {
  color: rgb(255, 121, 72);
}

@media (min-width: 58.125rem) {
  .hamburger-menu {
    display: none;
  }
  .nav-bar {
    height: 9rem;
  }
  .nav-component .nav-item {
    display: flex;
  }
  .nav-button button {
    display: block;
  }
  .landing-text-div {
    margin-top: 3rem;
  }
  .landing-illustrator {
    margin-top: 4rem;
  }
  .landing-page article {
    margin-top: 3rem;
  }
  .landing-text-div .article-paragraph {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    margin-bottom: 2rem;
  }
  .landing-text-div .article-header-one {
    font-size: clamp(1.5rem, 4vw, 3.2rem);
  }
  button {
    font-size: 0.8rem;
    width: 7.813rem;
    height: 2.5rem;
  }
  .grid-box {
    gap: 12rem;
  }
  .article-header-two {
    font-size: clamp(1.2rem, 4vw, 2.3rem);
  }
  .article-count {
    left: -5rem;
  }
  .footer-two {
    flex-direction: row;
    height: 14.3rem;
  }
  .footer-two .social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 12rem;
    width: 50%;
    height: 100%;
  }
  .footer-two .social-links div {
    display: flex;
    justify-content: space-between;
  }
  .footer-two .social-links div a {
    transform: scale(1);
  }
  .footer-two .navigation {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.3rem;
    max-width: 19rem;
    height: 100%;
  }
  .footer-two .navigation :first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-two .navigation div a {
    line-height: 1.7rem;
    font-size: 0.9rem;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
  }
  .footer-two .news-letter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 20rem;
    width: 50%;
    height: 100%;
  }
  .footer-two .news-letter form {
    display: block;
  }
  .footer-two .news-letter p {
    position: relative;
    bottom: 0;
    text-align: center;
  }
}
@media (max-width: 43.75rem) {
  .main {
    width: 85%;
    margin-top: 8rem;
  }
  .nav-bar {
    padding: 0 7.5%;
  }
  .pattern-fill-up img {
    z-index: -1;
    top: -20%;
    right: -60%;
  }
  .article-header-one {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .article-header-two {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .article-header-three {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    position: relative;
  }
  .article-paragraph {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .aligned-left {
    width: 100%;
  }
  .carousel-div {
    width: 100%;
  }
}
@media (max-width: 37.5rem) {
  .landing-page {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .landing-page article {
    width: 100%;
  }
  .nav-component {
    display: none;
  }
  .landing-text-div {
    margin: 2rem auto 0 auto;
  }
  .landing-text-div .article-paragraph {
    margin-bottom: 1rem;
  }
  .landing-text-div .article-header-one,
  .landing-text-div .article-paragraph {
    text-align: center;
    width: 100%;
  }
  .landing-text-div button {
    margin: 0 auto;
  }
  .aligned-text {
    width: 100%;
  }
  .grid-box {
    height: 100%;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
  }
  .grid-one * {
    text-align: center;
  }
  .grid-one::before {
    width: 200%;
    height: 240%;
    top: -200%;
    left: 63%;
    background-position: bottom left;
    background-size: 70%;
  }
  .article-header-two {
    font-size: clamp(1rem, 4vw, 2.3rem);
    color: hsl(228, 39%, 23%);
    margin-bottom: 1rem;
  }
  .article-count {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .article-header-three {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: hsl(13, 100%, 96%);
    padding: 0.4rem 0rem 0.4rem 3.5rem;
  }
  .grid-one .article-div .article-paragraph {
    text-align: center;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    width: 100%;
  }
  .grid-two .article-div .article-paragraph {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
  }
  .carousel-div {
    flex-direction: column;
    align-items: center;
    max-height: 14rem;
    overflow: hidden;
  }
  .carousel-item {
    width: 90%;
    min-width: 20rem;
  }
  .carousel-item .article-header-three {
    padding: 0;
  }
  .carousel-slide .pagination-bar {
    display: flex;
  }
  .footer-one {
    padding: 0 11.5%;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-two .news-letter p {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    right: 0;
    text-align: center;
  }
}
/* \the end */
