* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* border: 6px solid green; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* padding: 0; */
}

.pattern-fill-up img {
  /* background-image: url(./images/bg-tablet-pattern.svg); */

  /* border: 2px solid black; */
  /* height: 100%; */
  /* width: 100%; */
  position: absolute;
  z-index: -1;
  top: -8%;
  right: -12%;
}

.main {
  /* border: 1px solid orangered; */
  /* min-width: 600px; */
  width: 77%;
  height: 100%;
  margin: auto;
}

.nav-bar {
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-brand {
  /* border: 1px solid lawngreen; */
  /* align-self: center; */
}

.nav-component {
  /* border: 1px solid purple; */
  display: flex;
  /* min-width: 300px; */
  align-items: center;
  justify-content: space-between;
}

.nav-component .nav-item {
  list-style: none;
  margin: 1rem;
  display: none;
}

.nav-component .nav-item .nav-link {
  /* border: 1px solid purple; */
  font-size: 0.8rem;
  /* font-size: clamp(0.2rem, 2vw, 0.8rem); */
  font-weight: 700;
  /* display: flex; */
  /* list-style: none; */
  /* margin: 0.5rem; */
  color: hsl(228, 39%, 23%);
  text-decoration: none;
}

.nav-button button {
  font-size: 0.8rem;
  font-weight: 700;
  width: 7.813rem;
  height: 2.5rem;
  border-radius: 2rem;
  display: none;
}

button {
  display: block;
  background-color: hsl(12, 88%, 59%);
  border: none;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  width: 6.6rem;
  height: 2.2rem;
}

.landing-page {
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

.landing-page article {
  display: flex;
  width: 50%;
}

.landing-illustrator {
  width: 50%;
}

.landing-text-div {
  flex-direction: column;
  justify-content: center;
}
.landing-text-div .article-header-one {
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  color: hsl(228, 39%, 23%);
}

.landing-text-div .article-paragraph {
  font-weight: 500;
  width: 60%;
  line-height: 1.5rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
  width: 80%;
  color: hsl(227, 12%, 61%);
}

.landing-illustrator img {
  width: 100%;
}

.aligned-left {
  width: 100%;
}

.aligned-justify {
  text-align: justify;
}

.article-div > div {
  border: 1px solid green;
}

.article-header-three {
  font-size: 1rem;
  padding: 0.4rem 0rem;
  color: hsl(228, 39%, 23%);
  border: none;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: left;
}

.grid-box {
  margin-top: 3.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5% 0;
}

.article-header-two {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
  color: hsl(228, 39%, 23%);
  margin-bottom: 1rem;
}
.grid-one .article-div .article-paragraph {
  font-weight: 500;
  width: 100%;
  line-height: 1.5rem;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.grid-two .article-div {
  margin-bottom: 1.5rem;
}

.grid-two .article-div .article-paragraph {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  line-height: 1.5rem;
  color: hsl(227, 12%, 61%);
  padding: 0.6rem 0;
}

.article-count {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: -4rem;
  margin-right: 0;
}

.article-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(227, 12%, 61%);
  text-align: left;
  padding: 0.8rem 0;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 4.5rem 0;
}

.carousel-slide button {
  margin: 1rem auto;
}

.carousel-slide h3 {
  padding: 1rem;
}

.carousel-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 5rem;
  overflow: hidden;
  width: 100%;
  max-height: 16rem;
  padding-top: 2rem;
}

.carousel-item {
  padding: 2.5rem 1rem 1rem 1rem;
  background-color: hsl(0, 0%, 98%);
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
}

.carousel-item .article-paragraph {
  text-align: center;
  width: 100%;
}

.carousel-item .article-header-three {
  background-color: transparent;
  text-align: center;
}

.carousel-item .profile-photo {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: -2rem;
  z-index: 4;
  right: calc(50% - 2rem);
}

.carousel-item .profile-photo img {
  object-fit: cover;
  width: 100%;
}

.footer-one {
  padding: 0 11.5%;
  display: flex;
  margin-top: 10rem;
  height: 12.82rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(12, 88%, 59%);
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-position: center;
  background-size: cover;
}
.footer-one button {
  background-color: white;
  color: hsla(12, 88%, 59%);
}
.footer-one p {
  font-size: clamp(2rem, 3.5vw, 2.5rem);
  color: white;
  max-width: 27rem;
  width: 100%;
}
.footer-two {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 3rem 11.5%;
  background-color: hsl(233, 12%, 13%);
  color: hsl(0, 0%, 98%);
  position: relative;
  height: 100%;
}
.footer-two .social-links {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 80%;
  height: 6rem;
  margin: 2rem 0;
}
.footer-two .social-links div {
  display: flex;
  justify-content: space-between;
}
.footer-two .social-links div a {
  transform: scale(2);
}
.footer-two .footer-logo {
  align-self: center;
}
.footer-two .navigation {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}
.footer-two .navigation div {
  width: 100%;
  min-width: 6rem;
}
.footer-two .navigation :first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-two .navigation div a {
  line-height: 1.7rem;
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
}
.footer-two .news-letter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 25rem;
  width: 100%;
}
.footer-two .news-letter form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-two .news-letter form input {
  display: inline-block;
  border-radius: 2rem;
  padding: 0.7rem;
  border: none;
  width: 75%;
}
.footer-two .news-letter form button {
  display: inline-block;
  width: 4rem;
}
.footer-two .news-letter p {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  right: 0;
  text-align: center;
}

@media (min-width: 930px) {
  .hamburger-menu {
    display: none;
  }
  .nav-bar {
    height: 9rem;
  }
  .nav-component .nav-item {
    display: flex;
  }
  .nav-button button {
    display: block;
  }
  .landing-text-div {
    margin-top: 3rem;
  }
  .landing-illustrator {
    margin-top: 4rem;
  }
  .landing-page article {
    margin-top: 3rem;
  }
  .landing-text-div .article-paragraph {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    margin-bottom: 2rem;
  }
  .landing-text-div .article-header-one {
    font-size: clamp(1.5rem, 4vw, 3.2rem);
  }
  button {
    font-size: 0.8rem;
    width: 7.813rem;
    height: 2.5rem;
  }
  .grid-box {
    gap: 12rem;
  }
  .article-header-two {
    font-size: clamp(1.2rem, 4vw, 2.3rem);
  }
  .article-count {
    left: -5rem;
  }
  .footer-two {
    flex-direction: row;
    height: 14.3rem;
  }
  .footer-two .social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 12rem;
    width: 50%;
    height: 100%;
  }
  .footer-two .social-links div {
    display: flex;
    justify-content: space-between;
  }
  .footer-two .social-links div a {
    transform: scale(1);
  }
  .footer-two .navigation {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.3rem;
    max-width: 19rem;
    height: 100%;
  }
  .footer-two .navigation :first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-two .navigation div a {
    line-height: 1.7rem;
    font-size: 0.9rem;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
  }
  .footer-two .news-letter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 20rem;
    width: 50%;
    height: 100%;
  }
  .footer-two .news-letter form {
    display: block;
  }
  .footer-two .news-letter p {
    position: relative;
    bottom: 0;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .main {
    width: 85%;
  }
  .pattern-fill-up img {
    z-index: -1;
    top: -20%;
    right: -60%;
  }
  .article-header-one {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .article-header-two {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .article-header-three {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    position: relative;
  }
  .article-paragraph {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .aligned-left {
    width: 100%;
  }
  .carousel-div {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 37.5rem) {
  .landing-page {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .landing-page article {
    width: 100%;
  }
  .nav-component {
    display: none;
  }
  .landing-text-div {
    margin: 2rem auto 0 auto;
  }
  .landing-text-div .article-paragraph {
    margin-bottom: 1rem;
  }
  .landing-text-div .article-header-one,
  .landing-text-div .article-paragraph {
    text-align: center;
    width: 100%;
  }
  .landing-text-div button {
    margin: 0 auto;
  }
  .aligned-text {
    width: 100%;
  }
  .grid-box {
    height: 100%;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
  }
  .grid-one * {
    text-align: center;
  }
  .article-header-two {
    font-size: clamp(1rem, 4vw, 2.3rem);
    color: hsl(228, 39%, 23%);
    margin-bottom: 1rem;
  }
  .article-count {
    position: relative;
    margin-right: 1rem;
    top: 0;
    left: 0;
    height: 100%;
  }
  .article-header-three {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: hsl(13, 100%, 96%);
    padding: 0.4rem 0;
  }
  .grid-one .article-div .article-paragraph {
    text-align: center;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    width: 100%;
  }
  .grid-two .article-div .article-paragraph {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
  }
  .footer-one {
    padding: 0 11.5%;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-two .news-letter p {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    right: 0;
    text-align: center;
  }
}
/* \the end */
